/*==== General Css =====================================================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {}

h3 {}

h4 {}


ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;

}

p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


}

a {
  text-decoration: none;
  color: white;
}

.blue-btn {
  background-color: #18A9DD !important;
  color: white;
  border-radius: 8px !important;
  text-transform: none !important;
  padding: 10px 20px !important;
}

.green-btn {
  background-color: #09af65 !important;
  color: white;
  border-radius: 8px !important;
  text-transform: none !important;
  padding: 10px 20px !important;
}

.blue-clr {
  color: #18A9DD;
}

.green-clr {
  color: #09af65;
}

/* other color */
.o-clr {
  color: orange;
}

.g-clr {
  color: #46b356;
}

.r-clr {
  color: #FF4F5A;
}

/* --------------------------------------------------------------------------------- */
/*==== Nav Bar =====================================================================*/
.logo {
  padding: 10px;
}

.logo img {
  width: 40px;
  margin: 0px 12px;
}

.nav-item {
  margin: 10px;
}


.navbar-nav li {
  list-style-type: none;
  font-weight: 400;
}

.navbar-nav li a {
  text-decoration: none;
  position: relative;
}

/* Hover Effect -------------- */

.navbar-nav .nav-link {
  transition: color 0.3s ease;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #09af65;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #18A9DD;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
  color: #09af65;
}

.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

.login-text h6:hover {
  color: #09af65;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------- */
/*==== Banner =====================================================================*/

.banner-section {
  padding: 25px;
  background-image: url(./Images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* carsol indicator button */
.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators [data-bs-target] {
  background-color: #a3bcb0;
}


.carousel-indicators .active {
  background-color: #09af65;
}

/* --------------------------------------------------------------------------------- */
/*==== Products =====================================================================*/

.Products {
  padding: 40px 0px;
}

.product-heading h1 {
  text-align: center;
  margin-top: 50px;
}

.Products .card {
  padding: 10px;
  border-radius: 10px;
}

.Products .card .card-body {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.description {
  /* Set a fixed height for the description */
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
}

/* Hover Effect ---------------------------*/
.Products .card {
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  /* Add transition for smooth effect */
  transition: box-shadow 0.3s, background-color 0.3s;
}

.Products .card:hover {
  /* Add shadow on hover ----- 0.2 is opacity */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Products .card:hover .card-body {
  /* Change body color on hover */
  background-color: #ebf6f8;
}

.Products .card:hover img {
  /* Zoom image on hover */
  transform: scale(1.05);
}

.cart {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #f3fff5;
  /* Add transition for smooth effect */
  transition: background-color 0.3s;
}

.cart:hover {
  background-color: #c7eccd;
  cursor: pointer;
}


/* --------------------------------------------------------------------------------- */
/*==== How to Order Medicine =======================================================*/

.how-order {
  margin: 60px 20px;
  background-color: #f4f6fa;
  box-shadow: 0 0 23px -17px #000000;
  border: 12px solid #fff;
}

.how-order .container {
  padding: 10px;
}

.about-text {
  padding: 20px;
  height: 100%;

}

.about-text .about-box h5 {
  font-weight: bold;
}

.about-text .about-box h5,
p {
  margin: 0;
  padding: 0;
}

.about-text .read-more {
  color: #09af65;
  font-style: italic;
}

.about-text .read-more:hover {
  cursor: pointer;
  font-weight: bold;
}


.box-one {
  background-color: #d0defc;
  color: #7081a7;
  padding: 14px;
  margin: 25px 0 0;
  text-align: center;
  border-radius: 10px;
}

.box-two {
  background-color: #c8ecdc;
  color: #739d9a;
  padding: 14px;
  margin: 25px 0 0;
  text-align: center;
  border-radius: 10px;
}

.box-three {
  background-color: #f1eada;
  color: #a89882;
  padding: 14px;
  margin: 25px 0 0;
  text-align: center;
  border-radius: 10px;
}

.box-four {
  background-color: #d7d8dc;
  color: #817c7c;
  padding: 14px;
  margin: 25px 0 0;
  text-align: center;
  border-radius: 10px;
}


/* --------------------------------------------------------------------------------- */
/*==== COVID-19 ====================================================================*/

.covid-19 {
  background-image: url(./Images/bg-01.jpg);
  background-position: center;
  background-size: contain;
  padding: 100px 30px;
  color: white;
}

.left-content {
  background-color: rgba(104, 89, 182, 0.432);
  padding: 20px;
  border-radius: 15px;
}

.left-content .count-people h1 {
  color: #00ff99;
}

.left-content li {
  padding: 8px;
}

.right-float {
  float: right;
  font-weight: bold;
}

/* Left Virus img rotate */
.virus-round img {
  width: 300px;
  height: 300px;
  animation: rotate 30s linear infinite;
  display: flex;
  margin: auto;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adjustments for mobile screens */
@media (max-width: 600px) {
  .virus-round img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    animation: rotate 30s linear infinite;
  }
  .covid-19{
    padding: 20px 20px;
  }
  .left-content  h1 {
    font-size: 40px;
  }

}



/* --------------------------------------------------------------------------------- */
/*==== Shop ========================================================================*/
.shop {
  padding: 50px;
}

.view-more h5:hover {
  cursor: pointer;
  color: #09af65;
}

/* --------------------------------------------------------------------------------- */
/*==== We offer ====================================================================*/
.We-offer {
  margin: 30px 0px 30px 0px;
  padding: 20px 0px;
  background-image: url(./Images/light-bg.png);
  background-size: contain;

}

.We-offer li {
  margin-right: 10px;
}

.boxes-icon {
  font-size: 40px;
  margin: 20px;
  color: #09af65;

}

/* --------------------------------------------------------------------------------- */
/*==== We offer ====================================================================*/

.feed-back {
  padding: 30px;

}

.feed-back .card {
  padding: 20px;
  border-radius: 30px;
  background: radial-gradient(circle, rgb(179, 130, 130) 0%, rgba(116, 155, 183, 0.352) 100%);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.feed-back .card .card-img img {
  width: 50%;
  padding: 10px;
  background: linear-gradient(108deg, rgb(211, 0, 208) 0%, #00FD9A 67%, rgba(164, 69, 252, 1) 100%);
  border-radius: 50%;
  display: flex;
  margin: auto;
}
.feed-back .card .card-body{
  padding: 0px !important;
  }

.card-body .card-text {
  background-color: #e1e8e9;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .feed-back {
    padding: 10px;
  
  }
  .feed-back .card {
    padding: 10px;}
}

/* --------------------------------------------------------------------------------- */
/*==== About us ======================================================================*/

.about-us {

  padding: 30px;
  background-image: url(./Images/pngwing.com\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Use min-height instead of height */


}

/* --------------------------------------------------------------------------------- */
/*==== Support ======================================================================*/
.support {
  padding: 30px;
  background-image: url(./Images/pngwing.com.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.support .right-support {
  background: radial-gradient(circle, #FFD392 0%, #62b1915f 100%);
  padding: 20px;
  border-radius: 15px;
}



/* --------------------------------------------------------------------------------- */
/*==== Footer ======================================================================*/

.footer-section {
  background-image: url(./Images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 60px;
  color: white;
}

.footer-section .logo {
  margin-bottom: 15px;

}

.paragraph ul li a:hover {
  color: #1ad27f !important;
}



@media only screen and (max-width: 768px) {
  .footer-section {
    padding: 20px;
  }
}

/*------------ Right colum */

.footer-section .footer-menu h4 {
  font-weight: 600;
  padding-bottom: 24px;
}

.footer-section .footer-menu {
  justify-content: space-between;

}

.stay-uptodate {
  margin-bottom: 30px;
}

/*--------------------- menu */

.footer-section ul li {
  padding-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 20px;
}

.footer-section .footer-menu ul li:hover {
  color: #1ad27f;
  cursor: pointer;
}

.stay-uptodate {
  margin-top: 30px;
}



/* --------------------------------------------------------------------------------- */